<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648155273338-cb18edcj8spns3t1dbfeeno53grni97f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648155273338-cb18edcj8spns3t1dbfeeno53grni97f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648155273338-5nrb54mdv6fs0l48dnfh95h5umsfmvqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9l6vZNydXJRvjfbv8-ge7Zuw3BlRVLlw</string>
	<key>GCM_SENDER_ID</key>
	<string>648155273338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryHustleDev</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-7df02</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-7df02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648155273338:ios:e14de0f58eb25d81b303c3</string>
</dict>
</plist>